<?xml version="1.0" encoding="utf-8"?>

<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  IgnorableNamespaces="uap mp">

  <Identity
    Name="919cf7c9-044c-47a8-8432-877ae0cb8af4"
    Publisher="CN=alkhayat"
    Version="1.0.0.0" />

  <mp:PhoneIdentity PhoneProductId="919cf7c9-044c-47a8-8432-877ae0cb8af4" PhonePublisherId="00000000-0000-0000-0000-000000000000"/>

  <Properties>
    <DisplayName>AdventureWorks.Shopper</DisplayName>
    <PublisherDisplayName>alkhayat</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
  </Dependencies>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
      Executable="$targetnametoken$.exe"
      EntryPoint="AdventureWorks.Shopper.App">
      <uap:VisualElements
        DisplayName="AdventureWorks.Shopper"
        Square150x150Logo="Assets\Logo.png"
        Square44x44Logo="Assets\Square44x44Logo.png"
        Description="AdventureWorks.Shopper"
        BackgroundColor="transparent">
        <uap:DefaultTile Wide310x150Logo="Assets\WideLogo.png"/>
        <uap:SplashScreen Image="Assets\SplashScreen.png" />
      </uap:VisualElements>
    </Application>
  </Applications>

  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>